@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Views/Dashboard/Index.cshtml -->
@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="~/css/StyleSheet1.css" asp-append-version="true" />
<h1>Welcome to the Dashboard</h1>
<p>This is the dashboard index page.</p>
<img src="~/images/cat.png" />